<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        
        <!-- Primary Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dynamic Launcher Icon Aliases (Days 1 to 31) -->
        <activity-alias
            android:name=".MainActivityAliasDay1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_1"
            android:roundIcon="@mipmap/ic_launcher_round_day_1"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_2"
            android:roundIcon="@mipmap/ic_launcher_round_day_2"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_3"
            android:roundIcon="@mipmap/ic_launcher_round_day_3"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay4"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_4"
            android:roundIcon="@mipmap/ic_launcher_round_day_4"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay5"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_5"
            android:roundIcon="@mipmap/ic_launcher_round_day_5"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay6"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_6"
            android:roundIcon="@mipmap/ic_launcher_round_day_6"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay7"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_7"
            android:roundIcon="@mipmap/ic_launcher_round_day_7"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay8"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_8"
            android:roundIcon="@mipmap/ic_launcher_round_day_8"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay9"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_9"
            android:roundIcon="@mipmap/ic_launcher_round_day_9"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay10"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_10"
            android:roundIcon="@mipmap/ic_launcher_round_day_10"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay11"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_11"
            android:roundIcon="@mipmap/ic_launcher_round_day_11"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay12"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_12"
            android:roundIcon="@mipmap/ic_launcher_round_day_12"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay13"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_13"
            android:roundIcon="@mipmap/ic_launcher_round_day_13"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay14"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_14"
            android:roundIcon="@mipmap/ic_launcher_round_day_14"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay15"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_15"
            android:roundIcon="@mipmap/ic_launcher_round_day_15"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay16"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_16"
            android:roundIcon="@mipmap/ic_launcher_round_day_16"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay17"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_17"
            android:roundIcon="@mipmap/ic_launcher_round_day_17"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay18"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_18"
            android:roundIcon="@mipmap/ic_launcher_round_day_18"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay19"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_19"
            android:roundIcon="@mipmap/ic_launcher_round_day_19"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay20"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_20"
            android:roundIcon="@mipmap/ic_launcher_round_day_20"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay21"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_21"
            android:roundIcon="@mipmap/ic_launcher_round_day_21"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay22"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_22"
            android:roundIcon="@mipmap/ic_launcher_round_day_22"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay23"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_23"
            android:roundIcon="@mipmap/ic_launcher_round_day_23"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay24"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_24"
            android:roundIcon="@mipmap/ic_launcher_round_day_24"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay25"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_25"
            android:roundIcon="@mipmap/ic_launcher_round_day_25"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay26"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_26"
            android:roundIcon="@mipmap/ic_launcher_round_day_26"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay27"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_27"
            android:roundIcon="@mipmap/ic_launcher_round_day_27"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay28"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_28"
            android:roundIcon="@mipmap/ic_launcher_round_day_28"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay29"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_29"
            android:roundIcon="@mipmap/ic_launcher_round_day_29"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay30"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_30"
            android:roundIcon="@mipmap/ic_launcher_round_day_30"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDay31"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_day_31"
            android:roundIcon="@mipmap/ic_launcher_round_day_31"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Dynamic Home Screen Calendar Widget Provider -->
        <receiver
            android:name=".widget.LumaCalendarWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="com.example.widget.UPDATE_LUMA_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/luma_calendar_widget_info" />
        </receiver>

    </application>

</manifest>
